<ng-container *ngIf="(asyncTabs | async) === null">
  Upload File to get Started
</ng-container>


<mat-tab-group mat-stretch-tabs (selectedTabChange)="getDataSet($event)">
    <mat-tab></mat-tab>
  <mat-tab label="First" > 
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" *ngFor="let key of keys">{{key}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataset">
          <td *ngFor="let key of keys">{{data[key]}}</td>
        </tr>
      </tbody>
    </table>
  </mat-tab>
  <mat-tab label="Second"> {{dataset}} </mat-tab>
  <mat-tab label="Third"> {{dataset}}</mat-tab>
</mat-tab-group>

<!-- <mat-tab-group [color]="primary" [backgroundColor]="accent" mat-align-tabs="center" mat-stretch-tabs>
    <mat-tab label="First"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</mat-tab>
    <mat-tab label="Second"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </mat-tab>
    <mat-tab label="Third"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </mat-tab>
  </mat-tab-group> -->

