<div class="container-fluid text-center">
    <!-- <h1 class="">Admin</h1> -->

    <div class="card mb-3" style="max-width: 320px; padding: 20px 0;">
        <div class="row no-gutters">
            <div class="col-md-1">

            </div>
            <div class="col-md-3">
                <img src="../../assets/file4.png" class="card-img" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <button mat-raised-button (click)="openUploadDialog()">Upload files </button>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid">
        <app-tview></app-tview>
    </div>

</div>